.select-group {
  display: flex;
  flex-direction: column;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary-contrast);
  background-image: url('./select.svg');
  background-position: center right .5rem;
  background-repeat: no-repeat;
  background-size: .75rem .75rem;
  border: 1px solid var(--primary);
  border-radius: 0;
  font-size: .9rem;
  padding: .5rem .75rem;
}
