.site-footer {
  align-items: center;
  border-top: 1px dotted silver;
  display: flex;
  font-size: .8rem;
  grid-area: footer;
  justify-content: center;
}

.site-footer img {
 height: 1.5rem;
}

.site-footer a {
 margin: 0 .25rem;
}
