@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

:root {
  --primary: #333333;
  --primary-contrast: #ffffff;
  --accent: #D7172F;
  --small-font: .8rem;
}

* {
  box-sizing: border-box;
  font-family: 'fira mono', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 2.5rem;
  height: 100vh;
  min-width: 50rem;
}

