.lpd8-name {
  border: 1px solid transparent;
  transition: border .3s ease, background .3s ease;
}

.lpd8-name:focus {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  outline: none;
}
