.site-header {
  align-items: center;
  border-bottom: 1px dotted silver;
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 1rem;
}

.site-header img {
  height: 3rem;
}

.site-header-contact img {
 height: 1.5rem;
}

.site-header-contact a {
 margin-left: .5rem;
}
